body {
    background-color: lightgray;
    color: maroon;

}

main {
    text-align: center;
}

h1 {
    font-size: 72px;
}

h2,
h3 {
    text-decoration: underline;
}

nav {

    margin: auto;
}

a {
    color: maroon;
    margin: 15px;
    text-decoration: none;
}

a:hover {
    color: brown;
    text-decoration: underline;
}

.notice {
    font-style: italic;
}